.container {
  display: flex;
  justify-content: space-around;
}

.right {
  display: flex;
  flex-direction: column;
}

.card1 {
  width: 240px;
  height: 250px;
  padding-left: 20px;
}

.card2 {
  margin-top: 20px;
  width: 500px;
  height: 185px;
}

.cardImage {
  max-width: 115px;
  max-height: 35px;
}